<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/vuexy/assets/vendor/css/rtl/core.css"/>
    <link rel="stylesheet" href="/vuexy/assets/vendor/css/rtl/theme-default.css"/>
    <link rel="stylesheet" href="/vuexy/assets/vendor/fonts/tabler-icons.css">
    <link rel="stylesheet" href="/styles/card-project.css">
    <link rel="stylesheet" href="/styles/main-page.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">


    <script src="/vuexy/assets/vendor/js/helpers.js"></script>
    <script src="/vuexy/assets/js/config.js"></script>
    <script src="/vuexy/assets/vendor/js/template-customizer.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <!-- Layout container -->
    <div class="layout-container">
        <!-- Menu -->
        <div th:insert="~{block/sidebar :: sidebar}"></div>
        <!--/ Menu -->

        <!-- Layout page -->
        <div class="layout-page">
            <!-- Navbar -->
            <div th:insert="~{block/navbar::navbar}"></div>
            <!--/ Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper" style="background-color: white">
                <!-- Content -->
                <div class="container-xxl d-flex align-items-stretch flex-grow-1 p-0">
                    <div class="flex-shrink-1 flex-grow-1 container-p-x container-p-y">
                        <div class="mt-5" th:if="${banners.size()>0}">
                            <div id="carouselExampleIndicators1" class="carousel slide">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="0" class="active" aria-current="true"
                                            aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img th:src="${banners.get(0).getBanner()!=null?
                                            banners.get(0).linkToBanner():'https://www.goethe.de/prj/dlp/assets/images/default.png'}"
                                             class="d-block w-100" alt="..."
                                             style="width: 100%; height: 350px;">
                                    </div>
                                    <div class="carousel-item">
                                        <img th:src="${banners.get(1).getBanner()!=null?
                                            banners.get(1).linkToBanner():'https://www.goethe.de/prj/dlp/assets/images/default.png'}"
                                             class="d-block w-100" alt="..."
                                             style="width: 100%; height: 350px;">
                                    </div>
                                    <div class="carousel-item">
                                        <img th:src="${banners.get(2).getBanner()!=null?
                                            banners.get(2).linkToBanner():'https://www.goethe.de/prj/dlp/assets/images/default.png'}"
                                             class="d-block w-100" alt="..."
                                             style="width: 100%; height: 350px;">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                        <div class="mt-5" th:if="${objects.size()>0}">
                            <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 justify-content-center">
                                <div class="col" style="max-width: 350px" th:each="i,index : ${objects}">
                                    <a th:href="@{/user/secondary-market/{id}/view (id=${i.getId()})}">
                                        <div class="card h-100">
                                            <div th:id="'carouselExampleControls'+${index.index}" class="carousel slide"
                                                 style="width: 326px">
                                                <div class="carousel-inner">
                                                    <div class="carousel-item active">
                                                        <img th:src="${i.image1!=null?i.linkToImage1():'https://www.goethe.de/prj/dlp/assets/images/default.png'}"
                                                             class="d-block w-100" alt="..."
                                                             style="width: 200px;height: 200px">
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img th:src="${i.image2!=null?i.linkToImage2():'https://www.goethe.de/prj/dlp/assets/images/default.png'}"
                                                             class="d-block w-100" alt="..."
                                                             style="width: 200px;height: 200px">
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img th:src="${i.image3!=null?i.linkToImage3():'https://www.goethe.de/prj/dlp/assets/images/default.png'}"
                                                             class="d-block w-100" alt="..."
                                                             style="width: 200px;height: 200px">
                                                    </div>
                                                </div>
                                                <button class="carousel-control-prev" type="button"
                                                        th:data-bs-target="'#carouselExampleControls'+${index.index}"
                                                        data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button"
                                                        th:data-bs-target="'#carouselExampleControls'+${index.index}"
                                                        data-bs-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Next</span>
                                                </button>
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title"
                                                    style="text-align: center;letter-spacing: 5px;font-family: 'Segoe Print';height: 49.3px"
                                                    th:text="'Тип: '+${i.type}"></h5>

                                                <div class="d-flex">
                                                    <i class="ti ti-map-pin" style="color: orangered;"></i>
                                                    <p class="card-text" style="display: inline-block;margin-left: 5px"
                                                       th:text="${i.address}"></p>
                                                </div>
                                                <div class="d-flex">
                                                    <i class="ti ti-wall" style="color: mediumpurple;"></i>
                                                    <p class="card-text" style="display: inline-block;margin-left: 5px"
                                                       th:text="'к-сть кімнат: '+${i.rooms}+'/ поверх: '+${i.storey}"></p>
                                                </div>
                                                <div class="d-flex">
                                                    <i class="ti ti-cash" style="color: cornflowerblue;"></i>
                                                    <p class="card-text" style="display: inline-block;margin-left: 5px"
                                                       th:text=" ${i.area}+' м. кв. / '+${i.priceSquareMeter}+' $'"></p>
                                                </div>
                                                <div class="d-flex">
                                                    <i class="ti ti-coin" style="color: green;"></i>
                                                    <p class="card-text" style="display: inline-block;margin-left: 5px"
                                                       th:text=" ${i.totalPrice}+' $'"></p>
                                                </div>
                                            </div>
                                            <div class="card-footer text-muted d-flex justify-content-end pt-0 pb-0 mb-2">
                                                <label th:text="'новобудівля: '+${i.name}"
                                                       style="font-size: 14px;font-family: 'Segoe Print'"></label>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ Content -->
            </div>
            <!--/ Content wrapper -->

        </div>
        <!--/ Layout page -->

    </div>
    <!--/ Layout container -->
</div>
<!--/ Layout wrapper -->

<script src="/vuexy/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/vuexy/assets/vendor/js/menu.js"></script>
<script src="/vuexy/assets/js/main.js"></script>
<script src="/vuexy/dist/js/bootstrap.js"></script>
</body>
</html>