<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/vuexy/assets/vendor/css/rtl/core.css"/>
    <link rel="stylesheet" href="/vuexy/assets/vendor/css/rtl/theme-default.css"/>
    <link rel="stylesheet" href="/vuexy/assets/vendor/fonts/tabler-icons.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">


    <script src="/vuexy/assets/vendor/js/helpers.js"></script>
    <script src="/vuexy/assets/js/config.js"></script>
    <script src="/vuexy/assets/vendor/js/template-customizer.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <!-- Layout container -->
    <div class="layout-container">
        <!-- Menu -->
        <div th:insert="~{block/sidebar :: sidebar}"></div>
        <!--/ Menu -->

        <!-- Layout page -->
        <div class="layout-page">
            <!-- Navbar -->
            <div th:insert="~{block/navbar::navbar}"></div>
            <!--/ Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper" style="background-color: white">
                <!-- Content -->
                <div class="container-xxl d-flex align-items-stretch flex-grow-1 p-0">
                    <div class="flex-shrink-1 flex-grow-1 container-p-x container-p-y">
                        <div class="mt-5">
                            <div class="d-flex justify-content-center">
                                <h3 th:text="${object.name}"></h3>
                            </div>
                            <div id="carouselExampleIndicators1" class="carousel slide">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="0" class="active" aria-current="true"
                                            aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a th:href="${banners.get(0)!=null?banners.get(0).link:''}">
                                            <img th:src="${banners.get(0).getBanner()!=null?
                                            banners.get(0).linkToBanner():'https://www.goethe.de/prj/dlp/assets/images/default.png'}"
                                                 class="d-block w-100" alt="..."
                                                 style="width: 100%; height: 350px;">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a th:href="${banners.get(1)!=null?banners.get(1).link:''}">
                                            <img th:src="${banners.get(1).getBanner()!=null?
                                            banners.get(1).linkToBanner():'https://www.goethe.de/prj/dlp/assets/images/default.png'}"
                                                 class="d-block w-100" alt="..."
                                                 style="width: 100%; height: 350px;">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a th:href="${banners.get(2)!=null?banners.get(2).link:''}">
                                            <img th:src="${banners.get(2).getBanner()!=null?
                                            banners.get(2).linkToBanner():'https://www.goethe.de/prj/dlp/assets/images/default.png'}"
                                                 class="d-block w-100" alt="..."
                                                 style="width: 100%; height: 350px;">
                                        </a>
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                        <div class="row justify-content-center mt-3">
                            <div class="col-12 d-flex">
                                <i class="ti ti-map-pin" style="color: orangered;margin-right: 5px;"></i>
                                <label th:text="${object.address}"></label>
                            </div>
                            <div class="col-12 mt-3">
                                <div class="row d-flex justify-content-between">
                                    <div class="col-2 d-flex">
                                        <i class="ti ti-square" style="color: cornflowerblue;margin-right: 5px;"></i>
                                        <label th:text="${object.area}+' м. кв.'"></label>
                                    </div>
                                    <div class="col-2 d-flex">
                                        <i class="ti ti-wall" style="color: mediumpurple;margin-right: 5px;"></i>
                                        <label th:text="${object.rooms}+' кімнати'"></label>
                                    </div>
                                    <div class="col-2 d-flex">
                                        <i class="ti ti-stairs-up" style="color: darkorange;margin-right: 5px"></i>
                                        <label th:text="${object.storey}+' поверх'"></label>
                                    </div>
                                    <div class="col-2 d-flex">
                                        <i class="ti ti-coin" style="color: green;margin-right: 5px;"></i>
                                        <label th:text="${object.totalPrice}+' $'"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5 rounded-3" style="background-color: #817e7e">
                            <div class="col-12">
                                <form method="post" action="/user/request/add-order">
                                    <div class="row d-flex justify-content-evenly" style="margin-top: 10%;color: black">
                                        <div class="col-md-auto">
                                            <input class="border-0 border-bottom no-background white-text"
                                                   placeholder="+380 Ваш телефон"
                                                   style="font-size: 15px;width:100%;color: whitesmoke" name="phone">
                                        </div>
                                        <div class="col-md-auto">
                                            <input class="border-0 border-bottom no-background white-text"
                                                   placeholder="Ваше ім`я"
                                                   style="font-size: 15px;width:100%;color: whitesmoke" name="name">
                                        </div>
                                    </div>
                                    <div style="padding-top: 5%;text-align: center;">
                                        <button class="btn btn-white" type="submit">Замовити перегляд</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-12 d-flex justify-content-center" style="margin-bottom: 10%;margin-top: 2%;color: whitesmoke">
                                <label>Одеська область, с. Усатово, пер. Військовий, 9 тел. +38 (095) 55 43 555</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ Content -->
            </div>
            <!--/ Content wrapper -->

        </div>
        <!--/ Layout page -->

    </div>
    <!--/ Layout container -->
</div>
<!--/ Layout wrapper -->

<script src="/vuexy/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/vuexy/assets/vendor/js/menu.js"></script>
<script src="/vuexy/assets/js/main.js"></script>
<script src="/vuexy/dist/js/bootstrap.js"></script>
</body>
</html>