<div th:fragment="sidebar">
    <aside class="layout-menu menu-vertical menu bg-menu-theme"
           style="display: flex;flex-direction: column;height: 100%;">
        <div class="menu-block d-flex justify-content-center align-items-center pb-3 mt-1">
            <img src="https://royal-house.com/img/royal-house-share.jpg" alt="Avatar"
                 style="width:200px;height:120px;">
        </div>
        <ul class="menu-inner py-1 ps ps--active-y">
            <li class="menu-item">
                <a href="/user/projects" class="menu-link">
                    <i class="menu-icon ti ti-building-skyscraper"></i>
                    <div>Новобудівлі</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/user/secondary-market" class="menu-link">
                    <i class="menu-icon ti ti-home"></i>
                    <div>Вторинний ринок</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/user/services" class="menu-link">
                    <i class="menu-icon ti ti-heart-handshake"></i>
                    <div>Послуги</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/user/about-company" class="menu-link">
                    <i class="menu-icon ti ti-atom"></i>
                    <div>Про компанію</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/user/request" class="menu-link">
                    <i class="menu-icon ti ti-license"></i>
                    <div>Залишити заявку</div>
                </a>
            </li>
            <li class="menu-divider mb-1"></li>
            <div th:if="${contact!=null}">
                <li class="menu-header small fw-medium">Contacts</li>
                <li class="menu-item datavalue" style="cursor: pointer">
                    <div class="menu-link">
                        <i class="menu-icon ti ti-phone"></i>
                        <label style="font-size: 16px;cursor: pointer"
                               th:text="${contact.phone}"
                        ></label>
                    </div>
                </li>
                <li class="menu-item datavalue" style="cursor: pointer">
                    <div class="menu-link">
                        <i class="menu-icon fab fa-viber mt-1" style="font-size: 18px;margin-left: 2px;"></i>
                        <label style="font-size: 16px;cursor: pointer"
                               th:text="*{contact.viber}"></label>
                    </div>
                </li>
                <li class="menu-item datavalue">
                    <div class="menu-link" style="cursor: pointer">
                        <i class="menu-icon ti ti-mail"></i>
                        <label style="font-size: 16px;cursor: pointer"
                               th:text="*{contact.email}"></label>
                    </div>
                </li>
                <li class="menu-item">
                    <a th:href="'https://t.me/'+${contact.telegram}">
                        <div class="menu-link">
                            <i class="menu-icon ti ti-brand-telegram"></i>
                            <label style="font-size: 16px;cursor: pointer"
                                   th:text="'@'+*{contact.telegram}"></label>
                        </div>
                    </a>
                </li>
                <li class="menu-item">
                    <a th:href="'https://www.facebook.com/'+*{contact.facebook}">
                        <div class="menu-link">
                            <i class="menu-icon ti ti-brand-facebook"></i>
                            <label style="font-size: 16px;cursor:pointer;"
                                   th:text="*{contact.facebook}">facebook</label>
                        </div>
                    </a>
                </li>
                <li class="menu-item">
                    <a th:href="'https://www.instagram.com/'+*{contact.instagram}+'/'">
                        <div class="menu-link">
                            <i class="menu-icon ti ti-brand-instagram"></i>
                            <label style="font-size: 16px;cursor: pointer"
                                   th:text="*{contact.instagram}"></label>
                        </div>
                    </a>
                </li>
                <li class="menu-item">
                    <a th:href="'https://maps.google.com/?q='+*{contact.length}+','+*{contact.width}" style="cursor: pointer">
                        <div class="menu-link">
                            <i class="menu-icon ti ti-map-pin"></i>
                            <label style="font-size: 12px;cursor: pointer"
                                   th:text="*{contact.address}"></label>
                        </div>
                    </a>
                </li>
            </div>
        </ul>
    </aside>
</div>