.square {
    width: auto;
    height: 400px;
    background-color: #ccc;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.square-vertical {
    width: auto;
    height: 806px;
    background-color: #ccc;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.square-horizontal {
    width: auto;
    height: 400px;
    background-color: #ccc;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
